body{
  margin:0;
  min-height:100vh; 
  background: linear-gradient(to bottom,#ff0a0a,#e78585);
  font-family: monospace;
  color:white;
  font-size: 2em;
}
.home-btn {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  
  padding: 20px 20px;
  background: black;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-family: sans-serif;
  letter-spacing: 1px;

  transition: 0.3s ease;
}
.home-btn:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

.text-enemy{
  display:flex;
  justify-content:center;
  align-items:center;
  width:500px;
  margin:0 auto;
  padding-top:120px;
}
.text-enemy p{
  width:420px;
  line-height:1.4;
  margin:120px auto;
  opacity:1;
  display:flex;
  justify-content:center;
  align-items:center;
}
.fri{
  margin-left: 6px;
  color:white;
  position: relative;
  display: inline-block;
}


.fri:hover{
  color: transparent;
}

.fri:hover::after{
  content: "friend";
  color: #00ff66;
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
}



/*circle button*/
.circle-button{
  display:flex;
  justify-content:center;
  align-items:center;

  width:80px;
  height:80px;
  margin:120px auto; 

  border-radius:50%;
  border:2px solid white;

  text-decoration:none;
  color:white;
  font-size:28px;

  transition:0.3s ease;
}
.circle-button:hover{
  background:#00ff66;
  color:#f3c304;
  transform:scale(1.1);
}

.next-circle.active{
  background:#ff0000;     
  color:#003b00;
  transform:scale(1.5);
}
