body{
  margin:0;
  min-height:100vh; 
  background: linear-gradient(to bottom,#003b00,#00ff3c);
  font-family: monospace;
  color:white;
  font-size: 2em;
}
.text-infinite{
  display:flex;
  justify-content:center;
  align-items:center;
  width:730px;
  margin:0 auto;
  padding-top:320px;
}
.big {
  cursor: pointer;
  text-decoration: underline;
}
.big:hover{
  color: #000000;
}

#explosion-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.explode-word {
  position: absolute;
  font-size: 24px;
  animation: float 2s ease-out forwards;
  opacity: 1;
}

@keyframes float {
  to {
    transform: translateY(-80px) scale(1.5);
    opacity: 0;
  }
}

/*circle button*/
.circle-button{
  display:flex;
  justify-content:center;
  align-items:center;

  width:80px;
  height:80px;
  margin:120px auto; 

  border-radius:50%;
  border:2px solid white;

  text-decoration:none;
  color:white;
  font-size:28px;

  transition:0.3s ease;
}


.circle-button:hover{
  background:#f3c304;
  color:#ffffff;
  transform:scale(1.1);
}

.next-circle.active{
  background:#f3c304;     
  color:#003b00;
  transform:scale(1.1);
}