body {
  margin: 0;
}

/* HTML: <div class="loader"></div> */
.loader-around{
  position: fixed;
  inset: 0;
  display: grid;
  background: #ffca0a;
  place-items: center;
}
.loader {
  width: 100px;
  aspect-ratio: 1;
  border: 5px solid;
  border-radius: 50%;
  display: grid;
  background: 
    radial-gradient(circle 3px, currentColor 95%, #0000),
    linear-gradient(currentColor 50%, #0000 0) 50%/2px 60% no-repeat;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
}
.loader:before {
  background: repeating-conic-gradient(from -2deg, #000 0 4deg,#0000 0 90deg);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 6px),#000 0);
}
.loader:after {
  background: linear-gradient(currentColor 50%,#0000 0) 50%/2px 80% no-repeat;
  animation: l7 1s infinite;
}
@keyframes l7 {
  0%,
  100% {transform: rotate(30deg)}
  90%  {transform: rotate(42deg)}
  95%  {transform: rotate(15deg)}
}
.loading-text {
  margin-top: 0;
  color: #ffffff;
}

/*misty*/
body{
  margin:0;
  min-height:100vh; 
  background: linear-gradient(to bottom,#000000,#f7e200);
  font-family: monospace;
  color:white;
  font-size: 2em;
}

.text-word{
  display:flex;
  justify-content:center;
  align-items:center;
  width:500px;
  margin:0 auto;
  padding-top:120px;
  letter-spacing: 30px;
}

.color{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.color:hover{
  color: black;
  text-decoration: underline;
  font-size: 40px;
}


/*circle button*/
.circle-button{
  display:flex;
  justify-content:center;
  align-items:center;

  width:80px;
  height:80px;
  margin:120px auto; 

  border-radius:50%;
  border:2px solid white;

  text-decoration:none;
  color:white;
  font-size:28px;

  transition:0.3s ease;
}
.circle-button:hover{
  background:#000000;
  color:#ffffff;
  transform:scale(1.1);
}

.next-circle.active{
  background:#000000;     
  color:#ffffff;
  transform:scale(1.1);
}

