body{
  margin:0;
  min-height:300vh; 
  background: linear-gradient(to bottom,#003b00,#00ff3c);
  font-family: monospace;
  color:white;
  font-size: 2em;
}
/*text*/
.main{
  color:white;
  text-decoration:none;
  transition:0.3s;
}

.main:hover{
  color:#00ff66;     
  text-decoration:underline;
}

/*text*/
.zigzag-box{
  width:500px;
  margin:0 auto;
  padding-top:120px;
}


.zigzag-box p{
  width:420px;
  line-height:1.4;
  margin:120px auto;
  opacity:1;
}
.name{
    font-size: 35px;
    font-weight: bold;
}
.small{
    font-size: 10px;
}
.middle{
    font-size: 20px;
}
.more{
    font-size:30px;
}
.big{
    font-size:70px;
}
.main{
    color: black;
}

/*circle button*/
.circle-button{
  display:flex;
  justify-content:center;
  align-items:center;

  width:80px;
  height:80px;
  margin:120px auto; 

  border-radius:50%;
  border:2px solid white;

  text-decoration:none;
  color:white;
  font-size:28px;

  transition:0.3s ease;
}


.circle-button:hover{
  background:#f3c304;
  color:#ffffff;
  transform:scale(1.1);
}

.next-circle.active{
  background:#f3c304;     
  color:#003b00;
  transform:scale(1.1);
}
