body{
  margin:0;
  min-height:300vh; 
  background: linear-gradient(to bottom,#003b00,#00ff3c);
  font-family: monospace;
  color:white;
  font-size: 2em;
}
.text-infinite{
  display:flex;
  justify-content:center;
  align-items:center;
  width:500px;
  margin:0 auto;
  padding-top:120px;
}
/*circle button*/
.circle-button{
  display:flex;
  justify-content:center;
  align-items:center;

  width:80px;
  height:80px;
  margin:120px auto; 

  border-radius:50%;
  border:2px solid white;

  text-decoration:none;
  color:white;
  font-size:28px;

  transition:0.3s ease;
}


.circle-button:hover{
  background:#f3c304;
  color:#ffffff;
  transform:scale(1.1);
}

.next-circle.active{
  background:#f3c304;     
  color:#003b00;
  transform:scale(1.1);
}